<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta name="keywords" content="{{ .Site.Title }},SynE,合成电子学,Synthetic Electronics,上海科技大学,ShanghaiTech,纪清清,Qingqing Ji">
  {{ with .Site.Params.favicon }}
  <link rel="icon" href="{{ . }}">
  {{ end }}

  <!-- Styles -->
  {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&family=Noto+Serif+SC:wght@400;600&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- MathJax for equations -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      svg: { fontCache: 'global' }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
</head>
<body>
  {{ partial "header.html" . }}
  <main id="main-content">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
