{{/* Head extras partial - for additional meta tags per page */}}
{{ if .IsHome }}
{{ else if .Params.description }}
<meta name="description" content="{{ .Params.description }}">
{{ end }}
{{ if .Params.keywords }}
<meta name="keywords" content="{{ delimit .Params.keywords ", " }}">
{{ end }}

<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">